<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.routefiberhelps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- Multicast State Permission = To reliably receive multicast traffic -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <!-- ACCESS_NETWORK_STATE is used as connectivityManger -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- location permission -->
    <!-- Added BOTH coarse and fine location so that compatible with Android 12 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test"
        android:usesCleartextTraffic="true">
        <!--
        <activity
            android:name=".StartLiveVideo"
            android:exported="false" />
        <activity
            android:name=".LiveVideo"
            android:exported="false" />
        <activity
            android:name=".RouterCheck"
            android:exported="false" />
        <activity
            android:name=".SendPhoto"
            android:exported="false" />
        <activity
            android:name=".NetWorkScan"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
    </application>

</manifest>